# Ignore all compiled class files
*.classgit rm --cached -r **/*.class
bin/
# Ignore Maven target directory
#target/

# Ignore bin directory
#bin/

# Ignore IDE-specific files
#.idea/
#*.iml
#*.log

# Ignore compiled Java files
#*.class

# Ignore OS files
#.DS_Store
#Thumbs.db

# Ignore dependency directory if applicable
#lib/
